# Intro to python
## intro to python

###### intro to python
python is fun to learn, this is just an introduction

## Order list
 1. point one
 2. point two
 3. point three
 
 ## Unorder list
 
 - point one
 - point two
 - point three

In [1]:
# I am about to write my first python code
print("Hello World, i am here learning python for data science")

Hello World, i am here learning python for data science

## Variable and Identifier
A variable is any object or value that occupy space on computer memory
An identifier is used to identify variable

In [4]:
num1 = 2
print(num1)

2

# Rules for naming variable
- variable name cannot start with a number, though number can be find anywhere else
- Any special character cannot be included in a variable name except underscore
- Variable name cannot be join with white space, use underscore
- Python reserved words cannot be use as variable name
- Variable name needs to be decriptive.

In [6]:
first_name = "olaitan"
last_name = "kazeem"
age = 12
origin = "Iwo Town"
print("Hello everyone!!!. \n my name is", first_name, last_name, "I am", age, "years old, from", origin)

Hello everyone!!!.
 my name is olaitan kazeem I am 12 years old, from Iwo Town

In [1]:
first_name = input("please enter your first name")
last_name = input("please enter your last name")
age = input("how old are you")
origin = input("what town are you from")
print("Hello everyone!!!. \n my name is", first_name, last_name, "I am", age, "years old, from", origin)

please enter your first nameFatimah
please enter your last nameAbdulkadir
how old are you18
what town are you fromIlorin
Hello everyone!!!.
 my name is Fatimah Abdulkadir I am 18 years old, from Ilorin

In [2]:
# write a python script to take numbers from a user and sum of the numbers
number1 = int (input("Please enter the first number ") )
number2 = int(input("Please enter the second number ") )
total = number1 + number2
print("The sum of the number entered is", total)

Please enter the first number2
Please enter the second number7
The sum of the number entered is 9

# Operators in python

Operators is used to manipulate operand
- Arithmetic 
- Comparison
- Identity
- Membership
- Assignment
- Logical
- Bitwise

# Arithmetic

In [3]:
# Addition (+)
a = 12
b = 20
c = a+b
print(c)

32

In [4]:
# Subtraction (-)
a = 12
b = 20
c = a-b
print(c)

-8

In [5]:
# Division (/)
a = 12
b = 20
c = a/b
print(c)

0.6

In [7]:
# Modulus (%): return the remainder of division
a = 10
b = 3
c = a % b
print(c)

1

# Comparison

In [8]:
# greater than (>)
a = 6
b = 20
a > b

False

In [9]:
# greater than or equal to (>=)
a = 6
b = 20
a >= b

False

In [10]:
# less than (<)
a = 6
b = 20
a < b

True

In [11]:
# less than or equal to (<=)
a = 6
b = 20
a <= b

True

In [13]:
# equal to (==):
a = 10
v = 9
a == v

False

# Assignment

In [15]:
# equal to
a = 4

In [16]:
# increment
Ola = 2
print("value of Ola before increment", Ola)
Ola += 8 # increase the initial of Ola with 1
print("value of Ola after increment", Ola)

value of Ola before increment 2
value of Ola after increment 10

In [18]:
# Decrement
Ola = 2
print("value of Ola before Decrement", Ola)
Ola -= 8 # Decrease the initial of Ola with 1
print("value of Ola after Decrement", Ola)

value of Ola before Decrement 2
value of Ola after Decrement -6

# Membership

In [20]:
# in/ not in
7 in [1,2,3,45,7]

True

In [21]:
7 not in [1,2,3,45,7]

False

# Identity

In [22]:
# is/ is not
4 is 4

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\USER\AppData\Local\Temp\ipykernel_16596\3188113026.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 4

True

In [23]:
a = "Ola"
b = "ola"
a is b

False

# Logical

In [25]:
# and/ or
(12>4) and (8>2)

True

# Datatype in Python

Mutable datatype: they can be modifify after declaration
    
- list
- dictionary
- set

Immutable datatype: they cannot be modify after declaration
    
- number
- str
- tuple

# number

- int_ = 1928
- float_ = 293834.884
- complex_ = 3 + 3j

# str: are sequence of characters
- name = 'Olaitan'
- name = "Olaitan"
- name = """this string is
          very long in such
          a way that i need to
          come to the next lines"""

# Indexing and Slicing

In [26]:
 name = "olaitan"
 # return o from olaitan
 name[0] # forward indexing

'o'

In [27]:
 name[-7] # backward indexing

'o'

In [28]:
 name[3]

'i'

In [29]:
 name[-6]

'l'

[Index no: position no: skip no]

In [32]:
# return ai from olaitan
name[2:4]

'ai'

In [33]:
info = "python is fun to learn"
# return fun from the variable
info[10:13]

'fun'

In [43]:
info = "python is fun to learn"
# return "if a"
info[7:20:3]

'if  a'

# String Method

1. split
2. strip
3. endswith
4. startwith
5. upper/lower
6. find
7. replace
8. format

In [44]:
info

'python is fun to learn'

In [45]:
# split is use to split string at any given space or specified character. the output is list 
info.split()

['python', 'is', 'fun', 'to', 'learn']

In [46]:
gist = "my/name/is/fatimah/and/i/am/taking/python/class"
gist.split("/")

['my', 'name', 'is', 'fatimah', 'and', 'i', 'am', 'taking', 'python', 'class']

In [47]:
name = "     olaitan   "
name.strip()

'olaitan'

In [48]:
name = "{{{{////olaitan>>>>>////"
name.strip("{").strip("/").strip(">")

'olaitan'

# Endswith

In [1]:
name = "olaitan"
name.endswith("z")

False

# Startswith

In [4]:
name = "olaitan"
name.startswith("o")

True

# Upper

In [11]:
name = "olaitan"
name = name.upper()
name

'OLAITAN'

# Lower

In [12]:
name = "olaitan"
name = name.lower()
name

'olaitan'

# Find

In [15]:
name = "olaitan"
name.find("i")

3

In [16]:
name = "olaitan"
name.find("z")

-1

# Replace

In [14]:
name = "olaitan"
name = name.replace("i", "y")
print(name)

olaytan

# List

List is the order in which element are arranged. We use Square bracket for this []

In [17]:
lis = [       ] # an empty list

In [18]:
lis1 = ["cow", 2, 6.6, [23,5], "JAMES", "sancho", "rice", "white"]
lis1[5]

'sancho'

In [19]:
lis1[3][1]

5

In [20]:
lis1[2:6]

[6.6, [23, 5], 'JAMES', 'sancho']

# Important method of list

- append : is used to add element to the end of a list
- pop : is used to remove element at specific index
- remove : is used to delete element specified
- sort : is used to sort elememt of a list

In [21]:
lis = [1, "kola", "ade"]
lis.append("elephant")
print(lis)

[1, 'kola', 'ade', 'elephant']

In [23]:
lis = [1, "kola", "ade"]
name = lis.pop( )
print(lis)
print(name)

[1, 'kola']
ade

In [24]:
lis = [1, "kola", "ade"]
lis.remove("ade")
print(lis)

[1, 'kola']

In [25]:
lis = [2, 7, 3, 10, 4, 7, 8]
lis.sort(reverse=True)
print(lis)

[10, 8, 7, 7, 4, 3, 2]

In [26]:
lis = [2, 7, 3, 10, 4, 7, 8]
lis.sort()
print(lis)

[2, 3, 4, 7, 7, 8, 10]

# Modify the element of a list

In [27]:
lis1 = ["cow", 2, 6.6, [23,5], "JAMES", "sancho", "rice", "white"]
# change sancho to rashford
lis1[5] = "rashford"
print(lis1)

['cow', 2, 6.6, [23, 5], 'JAMES', 'rashford', 'rice', 'white']

In [28]:
tup = (     ) # an empty tuple

In [30]:
tup = (2, "Fatimah", "Olaitan", "James", "Ada", [2,3,6,7])
tup[5][1]

3

In [31]:
tup.count(2)

1

In [32]:
set1 = {100, 300, 7, 2, 9, 0, 5, 2, 2, 2, 2 }
set1

{0, 2, 5, 7, 9, 100, 300}

# Dictionary
is a type of data type that has key(:) and value pair relationship

In [33]:
Fatimah = {name:"olaitan", "age":12, "address":"olowoira"}
type(Fatimah)

dict

In [34]:
# change age from 12 to 45
Fatimah["age"] = 45
print(Fatimah)

{'ade': 'olaitan', 'age': 45, 'address': 'olowoira'}

In [35]:
# adding new element to dictionary
Fatimah = {"name":"olaitan", "age":12, "address":"olowoira"}
Fatimah["salary"] = 12235432
print(Fatimah)

{'ade': 'olaitan', 'age': 12, 'address': 'olowoira', 'salary': 12235432}

In [38]:
Fatimah = {"name":"olaitan", "age":12, "address":"olowoira"}
Fatimah.pop("name")
Fatimah

{'age': 12, 'address': 'olowoira'}

In [39]:
# dictionary of list
Fatimah = {"name":["olaitan", "Fatimah", "James", "sancho"],
          "age":[12, 13, 66, 77], "address":["olowoira", "Berger", "A", "K"] }
print(Fatimah)

{'name': ['olaitan', 'Fatimah', 'James', 'sancho'], 'age': [12, 13, 66, 77], 'address': ['olowoira', 'Berger', 'A', 'K']}

In [41]:
Fatimah["address"][1] = "Arepo"
print(Fatimah)

{'name': ['olaitan', 'Fatimah', 'James', 'sancho'], 'age': [12, 13, 66, 77], 'address': ['olowoira', 'Arepo', 'A', 'K']}

# Control flow in python
Control flow are order at which python code is beeen executed

## Conditional statement
- if
- elif
- else

## Loop statement
- for loop
- while loop

## Loop control statement
- continue
- break

## Error handling statement
- try
- except
- finally

In [1]:
name = "olaitan"
if name.endswith("n"):
    print("we are cool at this point")
    w = 3
    t = 5
    print(w + t)

we are cool at this point
8

In [4]:
name = "olaitan"
if name.endswith("z"):
    print("we are cool at this point")
    w = 3
    t = 5
    print(w + t)
else: 
    print("i am running because your condition is false")

i am running because your condition is false

In [7]:
num1 = int(input())
num2 = int(input())
if (num1>10) and (num2<20):
    total = num1 + num2
    print(total)
elif (num1==10) and (num2==20):
    print("fine")
    print(num1 + num2)
elif (num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

10
20
fine
30

In [8]:
num1 = int(input())
num2 = int(input())
if (num1>=10) and (num2<=20):
    total = num1 + num2
    print(total)
if (num1==10) and (num2==20):
    print("fine")
    print(num1 + num2)
if (num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

10
20
30
fine
30
what other combination did you think of

## Loop statement is use to iterate over an iterable element

In [1]:
name = "olaitan"
for i in name:
    print(i)

o
l
a
i
t
a
n

In [2]:
lis1 = ["olaitan", "james", "ayo"]
for i in lis1:
    print(i)

olaitan
james
ayo

## Range
range(str, end, skip)

In [3]:
range(10)

range(0, 10)

In [4]:
range(0, 10)

range(0, 10)

In [6]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [8]:
for i in range(0, 21)

range(0, 21)

In [9]:
even = []
odd = []
print("the element in even list before updating", even, "\n")
print("the element in odd list before updating", odd, "\n")
for i in range(0, 21):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("the element in even list after updating", even, "\n")
print("the element in odd list after updating", odd, "\n")

the element in even list before updating []

the element in odd list before updating []

the element in even list after updating [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

the element in odd list after updating [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Format

In [12]:
name = input ("enter your name")
age = input ("enter your age")
print("my name is  {} and i am  {} years old". format(name, age) )

enter your nameFatimah
enter your age18
my name is  Fatimah and i am  18 years old